.results {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 90vw;
  height: 50vh;
  display: flex;
  box-sizing: border-box;
  border: 0.2rem solid grey;
  align-items: center;
  flex-direction: column;
}

.individual-results {
  font-family: "Antic", sans-serif;
  padding: 1rem;
  justify-content: center;
  height: 2.5rem;
  font-size: 1.5rem;
  flex-direction: row;
  box-shadow: grey;
  margin: 0;
  display: flex;
  align-items: center;
}

.individual {
  color: $text-color;
  width: auto;
  flex-direction: row;
  display: inline;
}

.individual-score {
  margin-left: 1rem;
  color: $text-color;
  width: auto;
  display: inline;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leaderboard {
  font-size: 3rem;
  font-family: "Antic", sans-serif;
  padding-top: 15rem;
  color: $text-color;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ayaya-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ayaya {
  width: 15rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
