.button-form {
  border: none;
  color: rgb(53, 49, 58);
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 0.5rem 0.75rem;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button-form:hover {
  background-color: rgb(129, 124, 134);
}

.name-form {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  font-family: "Antic", sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  width: 10%;
  border-bottom: 0.4rem solid rgb(53, 49, 58);
  border-radius: 0.35rem;
  outline: none;
  transition: all 1s ease-in-out;
}

#player:focus {
  width: 20%;
  padding: 1.6rem;
  border-bottom: 0.4rem solid rgb(98, 43, 165);
}

.results {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 90vw;
  height: 50vh;
  display: flex;
  box-sizing: border-box;
  border: 0.2rem solid grey;
  align-items: center;
  flex-direction: column;
}

.individual-results {
  font-family: "Antic", sans-serif;
  padding: 1rem;
  justify-content: center;
  height: 2.5rem;
  font-size: 1.5rem;
  flex-direction: row;
  box-shadow: grey;
  margin: 0;
  display: flex;
  align-items: center;
}

.individual {
  color: $text-color;
  width: auto;
  flex-direction: row;
  display: inline;
}

.individual-score {
  margin-left: 1rem;
  color: $text-color;
  width: auto;
  display: inline;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leaderboard {
  font-size: 3rem;
  font-family: "Antic", sans-serif;
  padding-top: 15rem;
  color: $text-color;
  text-align: center;
  justify-content: center;
  align-items: center;
}
